.buttons-excel{
    z-index: 99;
    float: right;
    margin-bottom: 10px;
}
.navbar{
    background-color: #115500;
    color: white;
}
.navbar > a{
    color: white;
    text-decoration: none;
}
.navbar > a:hover{
    color: #E8E8E8;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link:hover{
    color: #E8E8E8;
}

#show-user{
    color: white;
}
#show-user:hover{
    transition: 0.1s;
    background: #0F3405;
}